"*":
  "accents-ui":
    debugMode: true
  "activate-power-mode":
    comboMode:
      activationThreshold: 100
      exclamationTexts: [
        "You're a fucking beast!"
        ":O"
        ""
      ]
    particles:
      colours:
        type: "random"
      enabled: false
      size: {}
      spawnCount: {}
      totalCount:
        max: 50
    playAudio: {}
    screenShake:
      maxIntensity: 10
      minIntensity: 2
  core:
    packagesWithKeymapsDisabled: [
      "accents-ui"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "robin-hood-syntax"
    ]
  editor:
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "da972500-a463-8d79-fbac-6f6424ad544e"
  "file-icons":
    onChanges: true
  "glacier-dark-ui": {}
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 53
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
